{% extends 'base.html' %}
{% block title %}BloodPoint - Panel Administrador{% endblock %}
{% block content %}

<body class='home'>
	{% include "componentes/navbar.html" %}
	<div class="main-content">
		<h2>
			Detalles Campaña
		</h2>
		<div class="row" style="margin-bottom: 1.5rem">
			
			<div class="col-12" style="display: flex;">
				<a class="btn btn-primary red" href="{% url 'campana_index' %}">
					<span>Volver al listado</span>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<label> Nombre: </label>
				<input id='nombre_campana' type="text" value="{{ campana_ojb.nombre_campana }}" disabled>
				<label> Fecha de la campaña: </label>
				<input type="text" value="{{ campana_ojb.fecha_campana }}" disabled>
				<h5>Creado el: {{campana_ojb.created_at}}</h5>
				<form method="get" action="{% url 'descargar_csv_campana' campana_ojb.id_campana %}" style="height: 3rem; width: 20rem; margin-bottom: 1rem;">  
					<button type="submit" style='width: 20rem; margin-top: 0px' class="btn btn-primary red">
						Descargar Resumen en CSV
					</button>
				</form>
				<form action="{% url 'descargar_excel_campana' campana_ojb.id_campana %}" style="height: 3rem; width: 20rem;">
					<button type="submit" style='width: 20rem; margin-top: 0px' class="btn btn-primary red">
						Descargar Resumen en Excel
					</button>
				</form>
			</div>
			<div class="col-6">
				<h4>Porcentaje logro campaña: </h4>
				<iframe width="430" height="300" seamless frameBorder="0" scrolling="no"
					src="https://bloodpoint-core.onrender.com/superset/explore/p/WEVGbr0GKoN/?standalone=1&height=200&campana_id={{campana_ojb.id_campana}}">
				</iframe>
			</div>
			<div class="col-6">
				<h4>Total donaciones recibidas: </h4>
				<iframe width="300" height="200" seamless frameBorder="0" scrolling="no"
					src="https://bloodpoint-core.onrender.com/superset/explore/p/MopGjJxGYE3/?standalone=1&height=200&campana_id={{campana_ojb.id_campana}}">
				</iframe>
			</div>
			<div class="col-6">
				<h4>Meta Donaciones: </h4>
				<iframe width="300" height="200" seamless frameBorder="0" scrolling="no"
					src="https://bloodpoint-core.onrender.com/superset/explore/p/bAOGKaD7NvQ/?standalone=1&height=200&campana_id={{campana_ojb.id_campana}}">
				</iframe>
			</div>
			<div class="col-12">
				<h4>Tipo de sangre por campaña: </h4>
				<iframe width="830" height="400" seamless frameBorder="0" scrolling="no"
					src="https://bloodpoint-core.onrender.com/superset/explore/p/aEw7PmvqOpb/?standalone=1&height=200&campana_id={{campana_ojb.id_campana}}">
				</iframe>
			</div>
		</div>
	</div>

</body>
{% endblock %}