{% autoescape off %}
{% load i18n %}
<!DOCTYPE html>
<html>
<body>
    <p>{% blocktrans %}Hola {{ user.get_username }},{% endblocktrans %}</p>
    
    <p>{% trans "Recibiste este correo porque solicitaste restablecer tu contraseña en BloodPoint." %}</p>
    
    <p>
        {% trans "Por favor, haz clic en el siguiente enlace:" %}
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
            {% trans "Restablecer contraseña" %}
        </a>
    </p>
    
    <p>{% trans "Si no solicitaste esto, ignora este correo." %}</p>
    
    <p>{% trans "Gracias," %}<br>{% trans "El equipo de BloodPoint" %}</p>
</body>
</html>
{% endautoescape %}