{% extends 'base.html' %}

{% block content %}
<body class="password-reset">
    <div>
        <div class="header-title">
            BLOODPOINT
            <i class="fas fa-heartbeat"></i>
        </div>
            <h2 class="header-subtitle">¡Contraseña actualizada!</h2>
            <p class="password-reset-container">
                Tu contraseña ha sido cambiada.<br>
                Ahora puedes <a href="{% url 'login' %}">iniciar sesión</a>.
            </p>
        </div>
    </div>
</body>

{% endblock %}