{% extends 'base.html' %}

{% block content %}

<body class="password-reset">
    <div>
        <div class="header-title">
            BLOODPOINT
            <i class="fas fa-heartbeat"></i>
        </div>
        <div>
            <h2 class="titulo">Correo enviado</h2>
        </div>
        <p class="password-reset-container"> 
        Te hemos enviado un correo electrónico con un enlace para restablecer tu contraseña. 
        Si no recibes un correo en unos minutos, revisa tu bandeja de spam.
        </p>
    </div>
</body>

{% endblock %}