{% extends 'base.html' %}
{% block title %}Restablecer contraseña{% endblock %}
{% block content %}
{% load static %}
    <body class='login'>
        <div class="background">
            <div class="globulo">
                <div class="globulo-base"></div>
                <div class="protuberancia"></div>
                <div class="protuberancia"></div>
            </div>
        <div class="shape"></div>
        </div>
        
        <form class="login" method="post">
            <h2>Restablecer contraseña</h2>
            {% csrf_token %}
            
            {{ form.as_p }} 

            <button type="submit">Enviar enlace</button>
        </form>
    </body>
    {% load static %}

{% endblock %}
