{% extends 'base.html' %}
{% block title %}Crear administrador{% endblock %}
{% block content %}
<body class='home'>
	{% include "componentes/navbar.html" %}
	<div class="main-content">
        <h2>Crear Administrador</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary red" style="max-width: 35vw;" type="submit">Guardar cambios</button>
        </form>
        <a href="{% url 'admin_index' %}">Volver al listado</a>
    </div>
</body>

{% endblock %}