{% extends 'base.html' %}
{% block title %}Editar administrador{% endblock %}
{% block content %}
<body class='home'>
	{% include "componentes/navbar.html" %}
	<div class="main-content">
        <h2>Editar Administrador</h2>
        <div class="row" style="margin-bottom: 1.5rem">
            <div class="col-12" style="display: flex;">
				<a class="btn btn-primary red" href="{% url 'detalles_admin' id=admin.id_admin %}">
					<span>Volver</span>
				</a>
            </div>
        </div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary red" style="max-width: 35vw;" type="submit">Guardar cambios</button>
        </form>
    </div>
</body>

{% endblock %}