{% extends 'base.html' %}
{% block title %}BloodPoint - Panel Representante{% endblock %}
{% block content %}

<body class='home'>
	{% include "componentes/navbar.html" %}
	<div class="main-content">
		<h2>
			Panel Usuarios Representantes
		</h2>
		<div class="row" style="margin-bottom: 1.5rem">
			<div class="col-6" style="display: flex;">
				<a class="btn btn-primary red" href="{% url 'lista_verificar' %}">
					<span>Volver al listado</span>
				</a>
			</div>
			<div class="col-6">
				<a href="{% url 'verificar_representante' id=representante.id_representante %}" class='btn btn-primary red' style="margin-left: 1.25rem">
					Verificar
					<i style="color: #7d0000;" class="fas fa-solid fa-user-check fa-3" style="margin-left: 0.5rem; color: white;" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<label>Nombre: </label>
				<input type="text" value="{{ representante.nombre }}" disabled>
				<label>Apellido: </label>
				<input type="text" value="{{ representante.apellido }}" disabled>
				<label>Email: </label>
				<input type="text" value="{{ representante.email }}" disabled>
				<label>RUT: </label>
				<input type="text" value="{{ representante.rut_representante }}" disabled>
				<label>Rol: </label>
				<input type="text" value="{{ representante.rol }}" disabled>
				<label>Credencial: </label>
				{% if representante.credencial_url %}
					<img src="{{ representante.credencial_url }}" alt="Credencial Representante" style="max-width: 750; max-height: 400px; margin-top: 1rem">
				{% else %}
					<input type="text" value="Sin credencial" disabled>
				{% endif %}
				<label>Creado el: {{representante.created_at}}</label>
			</div>
		</div>
	</div>
</body>
{% endblock %}